__pycache__/
venv/
.env

.vscode/
.idea/

.DS_Store
Thumbs.db

*.tmp
*.bak
*.swp
*~

*.py[cod]
*$py.class
*.so
*.dll
*.exe

*.egg
*.egg-info/
dist/
build/
inno/
post-install-info.txt
pre-install-info.txt
setup.iss
build.bat
LICENSE.txt
*.manifest
*.spec

*.log
logs/

*.sqlite
*.db
old/